<footer class="fixed-bottom">
  <nav class="navbar sticky-bottom bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <img
          src="/images/logo.png"
          alt="Logo"
          class="d-inline-block align-text-top"
          style="width: 30px; height: 30px"
        />
        CAST Coffee Shop
      </a>
    </div>
  </nav>
</footer>
