<%- include('../partials/head.ejs') %>
<body>
    <div class="container">
        <!-- title -->
        <div class="mt-4 p-5 bg-warning text-white rounded">
            <h1><%= title %></h1>
        </div>
        <!-- nav -->
        <%- include('../partials/menu.ejs') %>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>
